<header class="head_type2">

  <div class="banner comment-out " >
<!--    
  <div class="banner " >
-->

    <a href="https://drive.google.com/file/d/1oEvYj0_j4Nvai-f4hTqrUlQFDnxREhYM/view?usp=share_link" target="_blank">
    <img class="banner" src="images/brandcast_banner.gif"/>
    </a>
  </div>
  <div class="wrap_header">
    <h1 class="logo">
      <!-- <a href="index.html" -->
      <a href="main.html"
        ><img src="images/logo_black.png" alt="Brand cast"
      /></a>
    </h1>
     <!-- 220801 .header_right div태그 없애면 중앙 내비게이션으로 되돌릴수 있음-->
     <div class="header_right">

      <nav class="main_navigation"><div class="menu-button"></div>
        <h2 class="screen_out">메인메뉴</h2>
        <div class="overlay"></div>

        <div class="list_gnb" >
          <ul class="list_gnb_ul">

            <li class="mobile_li mobile_li_close clear">
              <a href="#" class="logo_m_nav">
                <img src="images/logo_gray.png" alt="" />
              </a>
              <a href="#" class="close_btn">
                <img src="images/icon_btn_close.png" alt="" />
              </a>
            </li>
            <!-- 220726 임시숨김 -->
            <!-- <li class="list_gnb_li">
              <a href="#">트랜드 분석</a>
            </li> -->


            <li ><span class = submenu-button></span>

                <a href="#">알아보기</a>
                <ul class = "sub-menu ">
                    <li class = "service"><a class = "service_a" href="main.html#about" >서비스설명</a></li>
                    <li class = "func"><a href="main.html#morefeatures">주요기능</a></li>



                </ul>
              <!-- <div class = "dropdown-menu" >
                <a href="#" class="dropdown-header">알아보기</a>

                <a class = "dropdown-item" href="#about" >서비스설명</a>
                <a class = "dropdown-item" href="#morefeatures" >주요기능</a>
              </div> -->
            </li>
            <li class="list_gnb_li">
              <a href="sub_uc_list.html">USE CASE</a>
            </li>


            <li class="list_gnb_li">
              <a class = "temporary">PRICE</a>
            </li>

            <!-- <li class="list_gnb_li">
              <a href="sub_price.html">PRICE</a>
            </li> -->

            <li class="list_gnb_li">
              <a href="sub_faq.html">FAQ</a>
            </li>


            <!-- <li class="list_gnb_li">
              <a href="#">PRICE</a>
            </li> -->
            <!-- <li class="list_gnb_li">
              <a href="sub_faq.html">FAQ</a>
            </li> -->
            <li class="list_gnb_li">
              <a href="sub_contact.html">CONTACT</a>
            </li>
            <li class="mobile_li login_btn_m">
              <a href="#">CONSOLE</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="right_gnb">
        <strong class="screen_out">로그인등 메뉴</strong>
        <i class="btn_hamburger" >
          <svg viewBox="0 0 100 80" width="40" height="40">
            <rect y="25" width="70" height="2"></rect>
            <rect y="45" width="70" height="2"></rect>
            <rect y="65" width="70" height="2"></rect>
          </svg>
        </i>
        <ul>
          <li class="login_btn"><button type="button" onclick="location.href='https://console.brandcast.co.kr'"><a>CONSOLE</a></button></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<script src="js/common.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css" />
<script src="js/menu.js"></script>
<script>
  $('.temporary').on('click',function(){
    alert("현재 채널별 맟춤형 상품으로만 제공하고 있습니다.\n원하시는 채널과 함께 문의 남겨주시면 견적드리도록 하겠습니다!");
    location.replace('./sub_contact.html');
  })


</script>
