{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font_space.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sub_common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sub_uc.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/media_query.css' %}" />
    <title>HIS</title>
    <meta property="og:title" content="브랜드캐스트 BRANDCAST" />
    <meta
      property="og:description"
      content="실시간 소셜버즈 측정 및 빅데이터 수집 솔루션! 모니터링 이슈 자동알림, 머신러닝 기반 평판분석, 자연어처리 트렌드 분석 및 리포트 제공"
    />
    <meta property="og:image" content="" />
    <meta property="og:url" content="http://www.brandcast.co.kr" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="브랜드캐스트 BRANDCAST" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="브랜드캐스트 BRANDCAST" />
    <meta name="twitter:url" content='http://www.brandcast.co.kr'/>
    <meta name="twitter:image" content='http://www.brandcast.co.kr' />
    <meta
      name="twitter:description"
      content="실시간 소셜버즈 측정 및 빅데이터 수집 솔루션! 모니터링 이슈 자동알림, 머신러닝 기반 평판분석, 자연어처리 트렌드 분석 및 리포트 제공"
    />
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        <!-- "url": "http://bitlworks.co.kr/", -->
        "name": "BRANDCAST",
        "author": {
          "@type": "Organization",
          "name": "주식회사 비틀웍스"
        },
        "description": "실시간 소셜버즈 측정 및 빅데이터 수집 솔루션! 모니터링 이슈 자동알림, 머신러닝 기반 평판분석, 자연어처리 트렌드 분석 및 리포트 제공",
        "sameAs": ["", "", "", ""]
      }
    </script>
  </head>
  <body>
    <div class="header_html">
    <div class="banner comment-out " >
  <!--    
    <div class="banner " >
  -->
  

    </div>
    <div class="wrap_header">
      <h1 class="logo">
        <!-- <a href="index.html" -->
        <a href="http://127.0.0.1:8000/"
          ><img src="{% static 'images/logo_black.png' %}" alt="Brand cast"
        /></a>
      </h1>
       <!-- 220801 .header_right div태그 없애면 중앙 내비게이션으로 되돌릴수 있음-->
       <div class="header_right">
        <nav class="main_navigation"><div class="menu-button"></div>
          <h2 class="screen_out">메인메뉴</h2>
          <div class="overlay"></div>
          <div class="list_gnb" >
            <ul class="list_gnb_ul">
              <li class="mobile_li mobile_li_close clear">
                <a href="#" class="logo_m_nav">
                  <img src="{% static 'images/logo_gray.png' %}" alt="" />
                </a>
                <a href="#" class="close_btn">
                  <img src="{% static 'images/icon_btn_close.png ' %}" alt="" />
                </a>
              </li>
              <li ><span class = submenu-button></span>
                  <a href="#">알아보기</a>
                  <ul class = "sub-menu ">
                      <li class = "service"><a class = "service_a" href="main.html#about" >서비스설명</a></li>
                      <li class = "func"><a href="main.html#morefeatures">주요기능</a></li>
                  </ul>
              </li>
              <li class="list_gnb_li">
                <a href="sub_uc_list.html">P.C</a>
              </li>
              <li class="list_gnb_li">
                <a class = "temporary">PRICE</a>
              </li>
              <li class="list_gnb_li">
                <a href="sub_faq.html">FAQ</a>
              </li>
              <li class="list_gnb_li">
                <a href="sub_contact.html">CONTACT</a>
              </li>
              <li class="mobile_li login_btn_m">
                <a href="#">CONSOLE</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="right_gnb">
          <strong class="screen_out">로그인등 메뉴</strong>
          <i class="btn_hamburger" >
            <svg viewBox="0 0 100 80" width="40" height="40">
              <rect y="25" width="70" height="2"></rect>
              <rect y="45" width="70" height="2"></rect>
              <rect y="65" width="70" height="2"></rect>
            </svg>
          </i>
          <ul>
            <li class="login_btn"><button type="button" onclick="location.href='https://console.brandcast.co.kr'"><a>CONSOLE</a></button></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <script src="{% static 'js/common.js' %}"></script>
  <script src="{% static 'js/sub.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
  <script src="{% static 'js/menu.js' %}"></script></div>

    <main class="sub_uc_detail_page sub_page">
      <section class="sec_sub_tit">
        <div class="content_pc">
          <h1>Pronunciation Correction</h1>
          <i class="tit_deco01">
            <img src="{% static 'images/title_line_img02.png'%}" alt="" />
            
          </i>
          <i class="tit_deco02">
            <img src="{% static 'images/title_line_img03.png '%} " alt="" />
          </i>
          <i class="tit_deco03">
            <img src="{% static 'images/title_line_img04.png'%}" alt="" />
          </i>
        </div>
      </section>
      <section class="sec_row01">
      </section>
      <section class="sec_row02">
        <div class="content_pc">
          <ul class="sec_detail_row row01 clear">
            <li id="res_video" class="uc_main_img">
              <i>나의 입모양 AI 아바타</i>
              <!-- 아바타 동영상 재생  -->
         
              <!-- <video autoplay controls muted>
              <source src="/Users/kimsemin/Downloads/1683362367569.mp4" type="video/mp4">
              video
              </video> -->
              <!-- <img src="{% static 'images/sub_uc01_li02.png'%}" alt="" /> -->
            </li>
            <li class="uc_main_detail uc_main_detail01">
              <p><b>원하는 보이스와 언어를 선택하세요</b></p>
              <div className = "selection-wrap">
              <select id="voice_selecter" name="voice">
                <option value="" selected disabled hidden > 보이스를 선택해주세요.</option>
              </select>

              <select id="language_selecter" name="language">
                <option value="" selected disabled hidden > 언어를 선택해주세요.</option>
              </select>
              <button class="solution-btn" id="make_voice" type="button" >보이스 생성하기<i>
                <img src="{% static 'images/icon_btn_arrow.png'%}" alt=""/></i>
              </button>
            </div>
            <input id="contents" style="font-size: 15px;" type="text" class="text-wrap" placeholder="Type something here">
              <div class="solution-btn-container"><button class="solution-btn" id="submit" type="button" >솔루션 받기<i>
                <img src="{% static 'images/icon_btn_arrow.png'%}" alt=""/></i>
              </button></div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script>
      $(function () {
          $('.header_html').load('header.html');

      });

      var audio;
      let voice_id;
      let did_id;
      let ajaxData= {
        model_id: "eleven_multilingual_v1",
        text: "",
        voice_settings : {
          stability : 0,
          similarity_boost : 0
        }
      };
      let DidAjaxData = {
        source_url: "https://www.brandcast.co.kr/land/back_0506/sub_uc01_li02.png",
        script: {
          type: 'audio',
          audio_url: ""
        }
      }

      $('#submit').on('click', function(){
        voice_id = $('#voice_selecter option:selected').val();
        ajaxData.text = $('#contents').val();
        console.log("ajaxData", ajaxData);

        // text to mp3
        $.ajax({
          url: "https://api.elevenlabs.io/v1/text-to-speech/" + voice_id,
          method: "POST",
          headers: {
              "Accept": "audio/mpeg",
              "Content-Type": "application/json",
              "xi-api-key": "c9f01b80da7ad1f73b2093b9e63f7e56"
          },
          data: JSON.stringify(ajaxData),
          xhrFields: {
              responseType: 'blob'
          },
          success: function (data) {
            var url = URL.createObjectURL(data);
            let path = voice_id + "_" + ajaxData.text + ".mp3";
            const downloadLink = document.createElement('a');
            downloadLink.download = path;
            fetch(url)
              .then(response => response.blob())
              .then(blob => {
                const objectURL = URL.createObjectURL(blob);
                downloadLink.href = objectURL;
                downloadLink.click();
              });
            // $.ajax({
            //   url: "http://localhost/index.php",
            //   type: "POST",
            //   data: {
            //     command: "ls"
            //   },
            //   success: function(response) {
            //     console.log("Success: " + response);
            //   },
            //   error: function(xhr, status, error) {
            //     console.log("Error: " + error.message);
            //   }
            // });
          },
          error: function (xhr, status, error) {
              console.log("error:", xhr);
          }
        });

        // did 
        $.ajax({
          url: "https://api.d-id.com/talks",
          method: "POST",
          headers: {
            'accept': 'application/json',
            'content-type': 'application/json',
            'authorization': 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik53ek53TmV1R3ptcFZTQjNVZ0J4ZyJ9.eyJodHRwczovL2QtaWQuY29tL2ZlYXR1cmVzIjoidGFsa3MiLCJodHRwczovL2QtaWQuY29tL2N4X2xvZ2ljX2lkIjoiIiwiaXNzIjoiaHR0cHM6Ly9hdXRoLmQtaWQuY29tLyIsInN1YiI6Imdvb2dsZS1vYXV0aDJ8MTE4Mzk3Mjc1MzAzNjI0MDA4MTQ0IiwiYXVkIjpbImh0dHBzOi8vZC1pZC51cy5hdXRoMC5jb20vYXBpL3YyLyIsImh0dHBzOi8vZC1pZC51cy5hdXRoMC5jb20vdXNlcmluZm8iXSwiaWF0IjoxNjgzMzQ4Mzg5LCJleHAiOjE2ODM0MzQ3ODksImF6cCI6Ikd6ck5JMU9yZTlGTTNFZURSZjNtM3ozVFN3MEpsUllxIiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCByZWFkOmN1cnJlbnRfdXNlciB1cGRhdGU6Y3VycmVudF91c2VyX21ldGFkYXRhIG9mZmxpbmVfYWNjZXNzIn0.Ar_55SyksxgK8DyIgspPZmM_r519N6zlvJoc5-EW8cd1OK6jEDEts_xUpM8a16J8TE2m7xGjG1RSyBeTCkghqVfP81s2Q305DFsrKpHJsJibDa-N24p0Yv-3aEMW6wlLWov6abgA_vG8cidnRkUEAbjoxzJ_3TIcDlb22vILphvvnj8D5oiRekoVM1JY7TkUu3KOKdlfeWGT0JXj37_HCVdSarOGrVh4_FPz1snakH7g5sbFJsxBqSu3QLMGmNGj3iVXH1QFWRJhbXRtdeAvr4eS8jHSkuHkrFo8UuRsv4AxSqJwJA-FJNO9T0BsLzgarxzpgqvYXHzA4M0IGwJuiQ'
          },
          data: JSON.stringify({
            source_url: "https://www.brandcast.co.kr/land/back_0506/sub_uc01_li02.png",
            script: {
              type: 'audio',
              audio_url: "https://www.brandcast.co.kr/land/back_0506/AZnzlk1XvdvUeBnXmlld_text.mp3"
            }
          }),
          success: function (data) {
            did_id = data.id;
            console.log("talks", data);
            $.ajax({
              url: "https://api.d-id.com/talks/"+did_id,
              method: "GET",
              headers: {
                'accept': 'application/json',
                'content-type': 'application/json',
                'authorization': 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik53ek53TmV1R3ptcFZTQjNVZ0J4ZyJ9.eyJodHRwczovL2QtaWQuY29tL2ZlYXR1cmVzIjoidGFsa3MiLCJodHRwczovL2QtaWQuY29tL2N4X2xvZ2ljX2lkIjoiIiwiaXNzIjoiaHR0cHM6Ly9hdXRoLmQtaWQuY29tLyIsInN1YiI6Imdvb2dsZS1vYXV0aDJ8MTE4Mzk3Mjc1MzAzNjI0MDA4MTQ0IiwiYXVkIjpbImh0dHBzOi8vZC1pZC51cy5hdXRoMC5jb20vYXBpL3YyLyIsImh0dHBzOi8vZC1pZC51cy5hdXRoMC5jb20vdXNlcmluZm8iXSwiaWF0IjoxNjgzMzQ4Mzg5LCJleHAiOjE2ODM0MzQ3ODksImF6cCI6Ikd6ck5JMU9yZTlGTTNFZURSZjNtM3ozVFN3MEpsUllxIiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCByZWFkOmN1cnJlbnRfdXNlciB1cGRhdGU6Y3VycmVudF91c2VyX21ldGFkYXRhIG9mZmxpbmVfYWNjZXNzIn0.Ar_55SyksxgK8DyIgspPZmM_r519N6zlvJoc5-EW8cd1OK6jEDEts_xUpM8a16J8TE2m7xGjG1RSyBeTCkghqVfP81s2Q305DFsrKpHJsJibDa-N24p0Yv-3aEMW6wlLWov6abgA_vG8cidnRkUEAbjoxzJ_3TIcDlb22vILphvvnj8D5oiRekoVM1JY7TkUu3KOKdlfeWGT0JXj37_HCVdSarOGrVh4_FPz1snakH7g5sbFJsxBqSu3QLMGmNGj3iVXH1QFWRJhbXRtdeAvr4eS8jHSkuHkrFo8UuRsv4AxSqJwJA-FJNO9T0BsLzgarxzpgqvYXHzA4M0IGwJuiQ'
              },
              success: function (data) {
              console.log("talks", data);
              view_video(data);
              },
              error: function (xhr, status, error) {
                  console.log("error:", xhr);
              }
            }); 
          },
          error: function (xhr, status, error) {
              console.log("error:", xhr);
          }
        });

      })

      // lang api call
      $.ajax({
        url: "https://api.elevenlabs.io/v1/models",
        method: "GET",
        dataType: "json",
        headers: {
          "xi-api-key": "c9f01b80da7ad1f73b2093b9e63f7e56"
        },
        success: function(data) {
          let lan = data[1].languages;
          lan_list(lan);
        },
        error: function(xhr, status, error) {
          console.log("error:", error);
        }
      });

      // voices api call
      $.ajax({
        url: "https://api.elevenlabs.io/v1/voices",
        method: "GET",
        dataType: "json",
        headers: {
          "xi-api-key": "c9f01b80da7ad1f73b2093b9e63f7e56"
        },
        success: function(data) {
          let voices = data.voices;
          voice_list(voices);
        },
        error: function(xhr, status, error) {
          console.log("error:", error);
        }
      });

      $("#make_voice").on('click', () => {
        console.log("######");
        window.open("http://127.0.0.1:8000/make_voice_popup", "popup", "width=500,height=500,left=100,top=100");
      })
    </script>
  </body>
</html>