@charset "utf-8";
/* price 이용요금 */
.sub_price_page .sec_row01 {
  padding: 100px 0 var(--space50);
}
.sub_price_page .sub_list {
  text-align: center;
}
.sub_price_page .sub_list li {
  width: 32%;
  padding: 2.5em 2em;
  border-radius: 30px;
  box-shadow: 0 8px 20px 0 rgb(193 202 223 / 60%);
}
.sub_price_page .sub_list li:nth-of-type(2) {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: #e2f1ff;
}
.sub_price_page .sub_list li:nth-of-type(3) {
  color: #fff;
  background-color: var(--main-color);
}
.sub_price_page .sub_list li:nth-of-type(2) p {
  color: var(--color-black);
}
.sub_price_page .sub_list h2 {
  font-weight: 600;
  margin: 5px 0 15px;
}
.sub_price_page .sub_list li:nth-of-type(3) h2 {
  font-weight: 500;
}
.sub_price_page .sub_list p {
  font-weight: 500;
}
.sub_price_page .sub_list button {
  font-size: var(--main-font-size);
  font-weight: 500;
  color: var(--main-color);
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  margin: 20px 0;
  background-color: #fff;
  transition: transform 0.3s;
}
.sub_price_page .sub_list button:hover {
  transform: translateY(3px);
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.sub_price_page .sub_list li:nth-of-type(1) button {
  color: var(--color-black);
  border: 1px solid var(--color-black);
}
.sub_price_page .sub_list li:nth-of-type(2) button {
  border: 1px solid var(--main-color);
}
.sub_price_page .sub_list li:nth-of-type(3) button {
  color: var(--main-color);
}
.sub_price_page .sub_list h4 {
  font-weight: 600;
}
.sec_row02 {
  padding-bottom: var(--space50);
}
.sec_row03 {
  padding-bottom: var(--space120);
}
.sec_row03 .last_box,
.sec_row02 .table_wrap {
  border-radius: 30px;
  background-color: #fff;
  padding: var(--space60);
  box-shadow: 0 8px 20px 0 rgb(193 202 223 / 60%);
}
.sec_row02 .table_wrap th {
  font-size: var(--font-size20);
  text-align: center;
  padding: var(--td-pd);
}
.sec_row02 .table_wrap tbody tr:last-child {
  border-bottom: 1px solid #2a84ff;
}
.sec_row02 .table_wrap td {
  text-align: center;
  padding: var(--td-pd);
}
.sec_row02 .table_wrap .detail_tit_col {
  width: 18%;
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
}
.sec_row02 .table_wrap .plus_col {
  color: #2a84ff;
}
.sec_row02 .table_wrap .extra_col {
  color: var(--main-color);
}
.sec_row02 .table_wrap .mid_tit_row {
  font-size: var(--font-size18);
  font-weight: 500;
  text-align: left;
  background-color: #e2f1ff;
  border-radius: 5px;
  padding-left: 25px;
}
.tr_line {
  border-bottom: 1px solid #e5e5e5;
}
.sec_row03 .last_box {
  display: flex;
  align-items: center;
}
.sec_row03 .last_box li:nth-child(1) {
  width: 30%;
  text-align: center;
  padding-right: 100px;
}
.sec_row03 .last_box li:nth-child(2) {
  width: 70%;
  border-left: 1px solid var(--main-color);
  padding-left: 40px;
}
.sec_row03 .last_box h3 b {
  color: var(--main-color);
}
