@charset "utf-8";
/* FAQ, contact */
/* FAQ */
.category_tab_swiper {
  overflow: hidden;
  width: 100%;
}
.category_tab {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space30);
}
.category_tab li {
  margin: 0 15px;
  width: auto !important;
}
.category_list {
  border-top: 2px solid #333;
}
.category_list .acc_item {
  border-bottom: 1px solid #ddd;
}
.category_list .acc_head {
  background-color: #fff;
}
.category_list .acc_btn {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 24px 56px 24px 0;
}
.category_list .category_tit {
  display: block;
  float: left;
  width: 180px;
  font-weight: 500;
  line-height: 24px;
  color: #888;
  text-align: center;
}
.category_list .acc_tit {
  float: left;
  position: relative;
  font-size: var(--font-size18);
  padding-left: 32px;
  line-height: 24px;
  letter-spacing: -0.4px;
}
.category_list .acc_tit:before {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 21px;
  content: "Q.";
}
.acc_arrow:after,
.acc_arrow:before {
  display: block;
  position: absolute;
  top: 50%;
  width: 14px;
  height: 2px;
  background: #707070;
  transition: all 0.2s ease-in-out;
  content: "";
}
.category_list .acc_arrow:before {
  right: 41px;
}
.category_list .acc_arrow:after {
  right: 32px;
}
.acc_arrow {
  display: inline-block;
  text-indent: -9999px;
}
.acc_arrow:before {
  right: 28px;
  transform: translateY(-50%) rotate(-135deg);
}
.acc_arrow:after {
  right: 19px;
  transform: translateY(-50%) rotate(135deg);
}
.acc_item.on .acc_arrow:before {
  transform: translateY(-50%) rotate(-45deg);
}
.acc_item.on .acc_arrow:after {
  transform: translateY(-50%) rotate(45deg);
}
.acc_inner {
  display: none;
}
.acc_item.on .acc_inner {
  display: block;
}
.category_list .acc_box {
  padding: 26px 32px 25px 212px;
  background: #f9f9f9;
}
.comm_more {
  text-align: center;
}
.comm_more.line {
  border-top: 1px solid #ddd;
}
.comm_more .more_btn {
  display: inline-block;
  padding: 16px;
  font-size: var(--font-size18);
  font-weight: 500;
  color: var(--main-color);
}
.comm_more .more_btn:after {
  margin-left: 8px;
  content: "+";
  font-size: 20px;
}
/* contact */
.table_contact_form {
  text-align: center;
}
textarea.form-control {
  height: 150px;
}
.table_contact_form .big_btn {
  padding: 0 5em;
  margin-top: 0.85rem;
}
.table_contact_form {
  padding-top: 30px;
  border-top: #333 solid 2px;
}
.sub_contact_page .sec_row02_bg {
  text-align: center;
  position: relative;
  background: var(--gray-light);
  padding: var(--space50) 0;
}
.sub_contact_page .sec_row02_bg::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 35px;
  height: 35px;
  left: 50%;
  top: -18px;
  transform: translateX(-50%) rotate(45deg);
  z-index: 1;
}
.sub_contact_page .contact_li {
  display: flex;
  justify-content: space-between;
  width: 560px;
  margin: 30px auto 0;
}
.sub_contact_page .contact_li li img {
  width: 46px;
  margin-right: 15px;
}
